body, button, input {
  font-family: 'Roboto Mono', monospace;
    cursor: default;
    background-color: #222;
    color:red;
    margin: 0;
    padding: 0;
}



h1 {
    font-weight: 800;
    font-size: 74px;
    margin-top: 0;
}

#controls {
    display: inline-block;
    width: 46%;
    border-right: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 42px;
    padding-right: 42px;

}


.input-group {
    margin: 26px 0;
    font-size: 36px;
}

/* label {
    display: inline-block;
    width: 24%;
    font-weight: 200;
    font-size: 30px;
    padding: 12px 25px;
    margin-left: 0;
}

input {
    width: 60%;
    font-size: 30px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    padding-left: 6px;
    font-weight: 200;
    outline: none;
} */

input:disabled {
    background-color: white;
    opacity: .6;
}

button {
    padding: 12px 32px;
    background-color: #222;
    color: white;
    border: none;
    outline: none;
}

button:hover {
    opacity: .9;
}

button:disabled {
    opacity: .3;
}

h2 {
    display: inline-block;
    vertical-align: top;
    font-weight: 200;
    font-size: 72px;
    margin: 12px 0;
    padding-left: 100px;
  }


  /* image input file */
  .background-image {
    background-image:url('') no-repeat center;
    background-size:cover;
    background-position: center;
    /* overflow: hidden; */
    height: 600px;
    position: relative;
    transition: 2s all ;
}

input[type="file"] {
    display: none;
}
.image-file-upload {
    background-color: rgba(50, 4, 3, 0.1);
    border: 0.1px solid rgba(116, 116, 116, 0.2);
    border-radius: 20px 20px;
    /* display: inline-block; */
    padding: 8px 14px;
    cursor: pointer;
    float: right;
    margin: 25px;


}

.image-file-upload:hover{
    border: 0.1px solid rgba(73, 73, 73, 0.500);
    /* background-color: rgba(125, 253, 142, 0.6); */
    transition: 0.2s ;

}



.image-file-upload:active{
    border: 1px solid rgba(8, 49, 0, 0.507);
    background-color: rgba(47, 139, 59, 0.61);

}
/*Modal styles*/
#modal {
    border: none;
    font-size: 1rem;
    background-color:#222;
    color: Red;
    padding: 2.8rem 10rem;
    position: fixed;
    z-index: 100;
    top: 50%;
    outline: none;
    transform: translateY(-50%); }
    #modal h1 {
      margin-bottom: 30px;
      line-height: 170%; }
    #modal button {
      outline: none;
      border: 2px solid white;
      font-size: 1.15rem;
      background-color: white;
      color: #222;
      padding: .6em 4em;
      transition: all .1s;
      background-color: transparent;
      color: white; }
      #modal button:hover {
        transform: scale(1.1); }
    #modal[open] {
      animation: flipInX ease .5s .2s;
      animation-fill-mode: both; }
